/**
 * created by Samson Iyanda on 20/12/2018
 * https://github.com/samcyn
 * samsoniyanda@outlook.com
 * https://samsoniyanda.herokuapp.com
 *
 */
/**
 * created by Samson Iyanda
 * https://github.com/samcyn
 * samsoniyanda@outlook.com
 * https://samsoniyanda.herokuapp.com
 *
 */
.media {
  border-bottom: 1px solid #F1F1F1; }

.media__content {
  padding: 18px; }

.media__index {
  flex: 0 0 50px;
  text-align: left;
  max-width: 50px; }

.media__details {
  flex: 1; }

.media__image {
  height: 50px;
  width: 50px; }

.media__dropdown {
  flex: 0 0 50px;
  text-align: right;
  max-width: 50px; }

.media__info {
  margin-left: 12px; }

.media__subtitle {
  color: #b8c7ce;
  font-style: italic; }
