/**
 * created by Samson Iyanda on 07/12/2018
 * https://github.com/samcyn
 * samsoniyanda@outlook.com
 * https://samsoniyanda.herokuapp.com
 *
 */
 
// H E L P E RS
.align-self-center {
  align-self: center;
}

.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.is-borderless {
  border: 0 !important;
}

.is-transparent {
  background-color: transparent !important;
  background: transparent !important;
}

.button, .button:active {
  outline: none !important;
}

.footer {
  padding: 12px !important;
}