/**
 * created by Samson Iyanda on 07/12/2018
 * https://github.com/samcyn
 * samsoniyanda@outlook.com
 * https://samsoniyanda.herokuapp.com
 *
 */
 
// H E L P E R S
.align-self-center {
  align-self: center !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-space-between {
  justify-content: space-between !important;
}

.justify-content-flex-start {
  justify-content: flex-start !important;
}

.justify-content-flex-end {
  justify-content: flex-end !important;
}

.is-borderless {
  border: 0 !important;
}

.is-transparent {
  background-color: transparent !important;
  background: transparent !important;
}


// R E S E T
a, .button, .button:active {
  outline: none !important;
}


.footer {
  padding: 12px !important;
}