/**
 * created by Samson Iyanda
 * https://github.com/samcyn
 * samsoniyanda@outlook.com
 * https://samsoniyanda.herokuapp.com
 *
 */

/*
--------- Type --------
*/

@font-face {
  font-family: "NotoSerifSC-Regular";
  src: url("../../../assets/fonts/NotoSerifSC-Regular.otf");
}

@font-face {
  font-family: "NotoSerifSC-SemiBold";
  src: url("../../../assets/fonts/NotoSerifSC-SemiBold.otf");
}

@font-face {
  font-family: "NotoSerifSC-Light";
  src: url("../../../assets/fonts/NotoSerifSC-Light.otf");
}

