/**
 * created by Samson Iyanda
 * https://github.com/samcyn
 * samsoniyanda@outlook.com
 * https://samsoniyanda.herokuapp.com
 *
 */

// C O L O U R S
$crimson: #8D1017;
$cyan-light: #b8c7ce;
$grey: #F1F1F1;
$white: #FFFFFF;
$dark-blue: #222D32;
$dark-deep: #1a2226;
$dark-light: #1e282c;


// F O N T S
$regular: "NotoSerifSC-Regular", sans-serif;
$semiBold: "NotoSerifSC-SemiBold", sans-serif;
$thin: "NotoSerifSC-Light", sans-serif;
$bold: "NotoSerifSC-Bold", sans-serif;

// D A S H B O A R D
$asidePanelWidth: 300px;
$footer-height: 48px;

// S P A C I N G
$spacing: 12px;

// M E D I A - Q U E R I E S
$mobile-width: 768px;
$desktop-width: 1024px;


// D E R I V E D - V A R I A B L E
$family-primary: $regular;
$primary: $crimson;
$footer-padding: 1rem;
$footer-background-color: $white;

// P A G I N A T I O N
$pagination-border-color: $primary;
$pagination-current-background-color: $primary;
$pagination-current-border-color: $primary;