/**
 * created by Samson Iyanda
 * https://github.com/samcyn
 * samsoniyanda@outlook.com
 * https://samsoniyanda.herokuapp.com
 *
 */
.dashboard__aside {
  background: #404142;
  height: 100%;
  width: 250px;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0; }

.dashboard__main {
  background: #BFBFBF;
  margin-left: auto;
  min-height: 100vh;
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  width: calc(100% - 250px);
  position: relative;
  z-index: 5; }

.dashboard__routes {
  padding: 12px; }

@media (max-width: 1087px) {
  .dashboard--open .dashboard__main {
    transform: translate(-250px); }
  .dashboard__aside {
    left: auto;
    right: 0; }
  .dashboard__main {
    width: 100%; } }
