@import '../../../base/variables';
@import '../../../base/mixins';

.dashboard__aside {
  background: $grey-dark;
  height: 100%;
  width: $asidePanelWidth;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
}

.dashboard__main {
  background: $grey;
  margin-left: auto;
  min-height: 100vh;
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  width: calc(100% - #{$asidePanelWidth});
  position: relative;
  z-index: 5;
}

.dashboard__routes {
  padding: $spacing;
}

@media (max-width: 1087px) {

  .dashboard--open .dashboard__main {
    transform: translate(-$asidePanelWidth);
  }

  .dashboard__aside{
    left: auto;
    right: 0;
  }

  .dashboard__main {
    width: 100%;
  }
}