@import '../../../base/variables';

.dashboard__aside {
  background: #222D32; //#1e282c
  height: 100%;
  width: $asidePanelWidth;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
}

.dashboard__main {
  background: $grey;
  margin-left: auto;
  min-height: 100vh;
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  width: calc(100% - #{$asidePanelWidth});
  position: relative;
  z-index: 5;
}

.dashboard__routes {
  padding: $spacing;
}

@media (max-width: 1087px) {

  .dashboard--open .dashboard__main {
    transform: translate(-$asidePanelWidth);
  }

  .dashboard__aside{
    left: auto;
    right: 0;
  }

  .dashboard__main {
    width: 100%;
  }
}
.dashboard-aside__header {
  height: 52px;
}

.dashboard-aside__divider {
  background-color: #1a2226;
  height: 40px;
  // margin-bottom: $spacing;
  width: 100%;
}

.dashboard-aside__links {
  color: #b8c7ce;
  display: flex;
  padding: $spacing $spacing + 3;
  span {
    align-self: center;
    margin-left: $spacing;
  }
  [class*='icon-'] {
    align-self: center;
  }
  &:hover, &.dashboard-aside--active{
    color: $white;
    background-color: #1e282c;
  }
}