/**
 * created by Samson Iyanda on 07/12/2018
 * https://github.com/samcyn
 * samsoniyanda@outlook.com
 * https://samsoniyanda.herokuapp.com
 *
 */
 
@import '../../../base/variables';
@import '../../../base/mixins';


.stats__balls {
  color: $white;
  border-radius: 100%;
  height: 90px;
  width: 90px;
}

.stats__info {
  margin-left: $spacing;
}

@include desktop($desktop-width){
  .is-half-gap > .column:not(:first-child) {
    padding-left: 0;
  }
  .is-half-gap-bottom > .column:not(:last-child){
    padding-bottom: 0;
  }
}

@include mobile($mobile-width){
  .dashboard__stats {
    .column:nth-child(even) {
      padding-left: 0;
    }
    .column:nth-child(-n + 2) {
      padding-bottom: 0;
    }
  }
  .dashboard__charts .column:not(:last-child) {
    padding-bottom: 0;
  }
};