/**
 * created by Samson Iyanda on 07/12/2018
 * https://github.com/samcyn
 * samsoniyanda@outlook.com
 * https://samsoniyanda.herokuapp.com
 *
 */
/**
 * created by Samson Iyanda
 * https://github.com/samcyn
 * samsoniyanda@outlook.com
 * https://samsoniyanda.herokuapp.com
 *
 */
/**
 * created by Samson Iyanda on 07/12/2018
 * https://github.com/samcyn
 * samsoniyanda@outlook.com
 * https://samsoniyanda.herokuapp.com
 *
 */
.stats__balls {
  color: #FFFFFF;
  border-radius: 100%;
  height: 90px;
  width: 90px; }

.stats__info {
  margin-left: 12px; }

@media (min-width: 1024px) {
  .is-half-gap > .column:not(:first-child) {
    padding-left: 0; }
  .is-half-gap-bottom > .column:not(:last-child) {
    padding-bottom: 0; } }

@media (max-width: 768px) {
  .dashboard__stats .column:nth-child(even) {
    padding-left: 0; }
  .dashboard__stats .column:nth-child(-n + 2) {
    padding-bottom: 0; }
  .dashboard__charts .column:not(:last-child) {
    padding-bottom: 0; } }
